#gallery {
  background: #323232;
}
#carouselGallery {
  position: absolute;
  height: 500px;
  width: 80%;
  top: 10%;
  left: 10%;
}
[data-gallery="button"] {
  background-color: red;
}
.d-block {
  height: 500px;
}
