body {
  font-size: 16px;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-hover:hover > .dropdown-menu {
  display: inline-block;
}

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

#exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}
#logo {
  width: 125px;
  height: 51px;
}

.d-block {
  height: 550px;
}
/*  carousel   */
.carousel-caption-indexCSS {
  position: absolute;

  top: 20%;
  left: 5%;
  bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: left;
}

.img-gradient-indexCSS {
  position: relative;
  display: inline-block;
}

.gradient-indexCSS {
  position: absolute;
  left: 10%;
  height: 100%;
  width: 33.33%;
  /*background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  ); */
  background: rgba(0, 0, 0, 0.3);
}

.captionText {
  text-shadow: 1px 1px 3px #000;
  color: rgba(255, 255, 255, 1);
  font-size: 1.6rem;
}
.heading {
  text-shadow: 1px 1px 3px #000;
  color: rgba(255, 255, 255, 1);
}
ul.col-sm-9 {
  border: none;
}
#AboutRRD {
  height: 200px;
  margin-top: 125px;
  border: 3px solid red;
}

main {
  width: 90%;
  margin: auto;
}
.carousel-item {
  width: 100%;
}
#Carousel_id {
  padding: 0;
}
